@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #300a24;
  --foreground: #E6F1FF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent scrolling for 3D app */
}